*{
    margin: 0;
    padding: 0;
}




.bg-nav{
    /* border: solid 3px black; */
    background-color: #143D74;
      
}

#navbarNav{
    /* border: solid 5px  green; */
    list-style-type: none;
    display: flex;
    justify-content: center;   
    
}

.navbar-nav{
    gap: 50px;
    align-items: center;
    
}

.nav-item a{
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-item a:hover{
  color: white;
    background-color: black;
    border-radius: 50px;
    transition: all 0.3s;
   
}
    

.dropdown-menu a{
    background-color: #143D74;
}

.dropdown-item{

    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo-img-4{
    width: 150px;
    height: 150px;
 
}

.btn-header{
    background-color: #143D74;
    border: none;
 
   
}

 
.tradingview-widget-copyright {
    font-size: 13px ;
    line-height: 32px ;
    text-align: center ;
    vertical-align: middle ;
    /* @mixin sf-pro-display-font; */
    font-family: 'Times New Roman', Times, serif;
    color: #9db2bd ;
}

.tradingview-widget-copyright .blue-text {
    color: #2962FF;
}

.tradingview-widget-copyright a {
    text-decoration: none nt;
    color: #9db2bd;
}

.tradingview-widget-copyright a:visited {
    color: #9db2bd ;
}

.tradingview-widget-copyright a:hover .blue-text {
    color: #1E53E5 ;
}

.tradingview-widget-copyright a:active .blue-text {
    color: #1848CC ;
}

.tradingview-widget-copyright a:visited .blue-text {
    color: #2962FF;
}

.home-bienvenida{
    display: flex;
    justify-content: center;
    
}

.h1-home-bienvenida{
    font-family: 'Times New Roman', Times, serif;
    border-bottom: white 3px solid;

}

.h1-home-bienvenida:hover{

    border-bottom: black 3px solid;
    color: white;

  
}
/* .h1-home-bienvenida:hover{
    font-family: 'Times New Roman', Times, serif;
    border-bottom:red 3px solid; */

.bg-bienvenida{

    background-color: #143D74;
}

#inicio-datos{
    padding-top: 50px;

}

.conteiner-servicios{

    padding-top: 90px;
    gap: 50px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
      

}
@media only screen and (max-width: 468px) {
    .conteiner-img-servicios {
      display: flex;
      flex-wrap: wrap;
      
    }
    .conteiner-servicios:hover {
      transform: scale(1) translate(0px, 0px);
      transition: none;
    }
}



#cards{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;    
    gap: 50px;
    justify-content: center;
       
}

.bg-activos{
    font-family: 'Times New Roman', Times, serif;
    border-bottom: white 3px solid;
    
}

.bg-activos:hover{

    border-bottom: black 3px solid;
    color: white;

  
}

.section-servicios{
    padding-top: 20px;
}

.home-activos{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #143D74;
}

#activos{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap; 
    gap: 100px;
    justify-content: center;

       
}

@media only screen and (max-width: 468px) {
    #contenedor-cards {
      display: flex;
      flex-wrap: wrap;

      
      
    }
   
}


   
@media only screen and (max-width: 468px) {
    #contenedor-cards h5{
      font-size: x-small;
      
    }
   
}



.tus-servicios{
    padding-top: 50px;
}

.form-testInversor{
   /* border: solid 3px red; */
   display: flex;
   justify-content: center;
   padding-bottom: 20px;
 
}

.arranca-test{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #143D74;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}

.arranca-test:hover{
    color: white;

}

#container-test{
    width: 100%;
    background-color: #143D74;
    margin: 20px auto;
    overflow: auto;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    color: #fff;

}

#header-test{
    text-align: center;
    border-bottom: #fff dashed 1px;
    font-family: 'Times New Roman', Times, serif;
}

#header-test h1{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#header-test p{
    margin-top: 5px;
    padding: 0;
    color: white;

}

#h3-test{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
}

#section-test{
    min-height: 410px;
}

#input-submit{
    margin-top: 20px;
    background: black;
    border: 0;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
}

#input-submit:hover{
   
    background: white;

    color: #143D74;
    
   
}


#resultado h3{
    
    background: white;
    padding: 10px;
    margin: 10px 0;
}

#resultado span{
    color: black;
    font-weight: bold;
}

.contenedor-img-servicios{
    padding-top: 30px ;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly;
    
    /* border: solid 3px red; */
}
.contenedor-img-servicios a{
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.5px;
    
   
}

.contenedor-img-servicios img{
    width: 100px;
    height: 150px;
   
}

.p-index:hover a{
    color: white;
    background-color:#143D74;
    
   
}


.btn-forms {
    background-color:white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}   

.btn-forms:hover{
    background-color:#143D74;
    color: white;
}



  .te-esperamos{
    padding: 2%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; ;
    

  }


  .ratio{
    margin: auto;    
    width: 80%;
    
  }

.asunto{
  display: flex;
  justify-content: center ;

}

.datos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 50px;

}
 
.comentarios{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;

}

.enviar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;

}
 
.contacto-bg{
    padding-top: 15px;
    padding-bottom: 15px;
   background-color: #143D74;
}



 /* cards giratorias del index */
.section-prueba{
    padding-top: 20px;

}

/* .card{
 
    width: 300px;
    height: 350px;
    
} */

/* #tarjeta-p{
    position: absolute; 
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;

    
} */

/* 

.card .front h4{
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    margin: 5px;
    background: #143D74;
    text-align: center;
    
} */

/* .card .back{
    transform: perspective(600px) rotateY(180deg);
    background:  #143D74;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black ;

} */

/* .card .back .link{
    border-top: solid 1px blue;
    height: 50px;
    line-height: 50px;

} */

/* .card .back .link a{
 color:white;
 text-decoration: none;

} */

/* .card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 1.5px;
   
} */

#tarjeta-p{
  
    letter-spacing: 0.5px;
   
}


