*{
    margin: 0;
    padding: 0;
}




.bg-nav{
    /* border: solid 3px black; */
    background-color: #143D74;
      
}

#navbarNav{
    /* border: solid 5px  green; */
    list-style-type: none;
    display: flex;
    justify-content: center;   
    
}

.navbar-nav{
    gap: 50px;
    align-items: center;
    
}

.nav-item a{
color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-item a:hover{
  color: white;
    background-color: black;
    border-radius: 50px;
    transition: all 0.3s;
   
}
    

.dropdown-menu a{
    background-color: #143D74;
}

.dropdown-item{

    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo-img-4{
    width: 150px;
    height: 150px;
 
}

.btn-header{
    background-color: #143D74;
    border: none;
 
   
}

 
.tradingview-widget-copyright {
    font-size: 13px ;
    line-height: 32px ;
    text-align: center ;
    vertical-align: middle ;
    /* @mixin sf-pro-display-font; */
    font-family: 'Times New Roman', Times, serif;
    color: #9db2bd ;
}

.tradingview-widget-copyright .blue-text {
    color: #2962FF;
}

.tradingview-widget-copyright a {
    text-decoration: none nt;
    color: #9db2bd;
}

.tradingview-widget-copyright a:visited {
    color: #9db2bd ;
}

.tradingview-widget-copyright a:hover .blue-text {
    color: #1E53E5 ;
}

.tradingview-widget-copyright a:active .blue-text {
    color: #1848CC ;
}

.tradingview-widget-copyright a:visited .blue-text {
    color: #2962FF;
}

.home-bienvenida{
    display: flex;
    justify-content: center;
    
}

.h1-home-bienvenida{
    font-family: 'Times New Roman', Times, serif;
    border-bottom: white 3px solid;

}

.h1-home-bienvenida:hover{

    border-bottom: black 3px solid;
    color: white;

  
}
/* .h1-home-bienvenida:hover{
    font-family: 'Times New Roman', Times, serif;
    border-bottom:red 3px solid; */

.bg-bienvenida{

    background-color: #143D74;
}

#inicio-datos{
    padding-top: 50px;

}

.conteiner-servicios{

    padding-top: 90px;
    gap: 50px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
      

}
@media only screen and (max-width: 468px) {
    .conteiner-servicios {
      display: flex;
      flex-wrap: wrap;
      
    }
    .conteiner-servicios:hover {
      transform: scale(1) translate(0px, 0px);
      transition: none;
    }
}



#cards{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;    
    gap: 50px;
    justify-content: center;
       
}

.bg-activos{
    font-family: 'Times New Roman', Times, serif;
    border-bottom: white 3px solid;
    
}

.bg-activos:hover{

    border-bottom: black 3px solid;
    color: white;

  
}

.section-servicios{
    padding-top: 20px;
}

.home-activos{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #143D74;
}

#activos{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap; 
    gap: 100px;
    justify-content: center;

       
}

.tus-servicios{
    padding-top: 50px;
}

.form-testInversor{
   /* border: solid 3px red; */
   display: flex;
   justify-content: center;
   padding-bottom: 20px;
 
}

.arranca-test{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #143D74;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 20px;
}

.arranca-test:hover{
    color: white;

}


#contenedor-test{
    padding-top: 250px;
    padding-bottom: 250px;
    border: solid 3px red;
    width: 100%;
    height: 250px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#encabezado{
    background-color: white;
    min-width: 300px;
    width: 70%;
    padding: 10px;

}

#categoria{
    opacity: 0.8;
    text-align: left;
}

#pregunta{
    padding: 10px;
}

#imagen{
    object-fit: cover;
    height: 200px;
    width: 70%;
}

/*
#btn1:hover{
    background-color:  olivedrab; 
    color: black;
    cursor: pointer;
    transform: scale(1.05);
    width: 8% ;
}
#btn2:hover{
 background-color: olivedrab;
    color: black;
    cursor: pointer;
    transform: scale(1.05);
    width: 8% ;
}
#btn3:hover{
    background-color: olivedrab;
    color: black;
    cursor: pointer;
    transform: scale(1.05);
    width: 8% ;
}
#btn4:hover{
    background-color: olivedrab;
    color: black;
    cursor: pointer;
    transform: scale(1.05);
    width: 8% ;
} 
  */